# Enforce LF line endings for all text files
* text=auto eol=lf

# Explicitly mark binary files
*.png binary
*.jpg binary
*.jpeg binary

# Exclude python files from language statistics
*.py linguist-detectable=false
