apiVersion: v1
kind: Secret
metadata:
  name: sops-age
  labels:
    app.kubernetes.io/name: sops-age
    app.kubernetes.io/instance: sops-age
    app.kubernetes.io/component: secret-management
    app.kubernetes.io/part-of: todo-k8s
    app.kubernetes.io/managed-by: kustomize
type: Opaque
stringData:
  key.txt: |
    # Replace this entire section with the content of your age.key file
    # created: YYYY-MM-DDTHH:MM:SS+TZ
    # public key: age1...
    # AGE-SECRET-KEY-1...
